@charset "utf-8";

$primary-color: #0ABFF6;
$base-body-color: #2D2C27;
$light-body-color: #676762;
$border-color: #d3d3d3;

@import "normalize";
@import "base";

@import "blocks/button";
@import "blocks/character";
@import "blocks/character-preview";
@import "blocks/episode-preview";
@import "blocks/footer";
@import "blocks/dialog";
@import "blocks/grid";
@import "blocks/header";
@import "blocks/main-navigation";
@import "blocks/meta";
@import "blocks/nav";
@import "blocks/pagination";
@import "blocks/season";
@import "blocks/season-preview";
@import "blocks/section";
@import "blocks/wrap";
