doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta charset="utf-8" /
    meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /
    = yield_content :head
    = stylesheet_link_tag :site
  body
    = partial "/partials/main-navigation"
    = partial "/partials/header"
    = yield
    #react-root
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,600|Special+Elite"
    = partial "/partials/footer"
    = javascript_include_tag :application
