= link_to "/characters/#{character.name.split(' ').join('-')}.html", class:"character-preview" do
  = image_tag character.image.file.fit('crop').crop('faces').width(200).height(200).to_url, class: "character-preview__image"
  .character-preview__label= character.name
