- palette_url = episode.image.present? ? episode.image.file.auto("enhance").palette("json").to_url : ""
- image_url = episode.image.present? ? episode.image.file.width(500).height(280).fit("crop").auto("enhance").format(:jpg).to_url : ""

= link_to "/episodes/#{episode.title.split(' ').join('-')}.html", class: "episode-preview", "data-preview" => palette_url do
  .episode-preview__image style=("background-image: url('#{image_url}')")
  .episode-preview__meta
    .episode-preview__title
      = episode.title
    .episode-preview__details
      = episode.season.name
      | •
      | Episode #{episode.episode_number}
