.header
  .wrap
    - if current_page.url != "/"
      .header__inner.header__inner--internal
    - else
      .header__inner
        .header__content
          h1.header__title
            = dato.homepage.site_name
          p.header__tagline
            = dato.homepage.tag_line
          p.header__tagline
            | Sign in to see all content
          a.button href="/#/signin" Signin
