body
  .wrap
    header.main-navigation
      = link_to "Home", "/", class: "main-navigation__item"
      = link_to "Characters", "/characters.html", class: "main-navigation__item"
      #auth-navigation
