- content_for(:head) do
  = dato_meta_tags(character)
.wrap
  .grid
    .grid__cell.grid__cell--20
      section.section.section--left
        h2.section__title Characters
        ul.nav
          - dato.characters.sort_by(&:name).each do |character|
            li.nav__item
              = link_to character.name, "/characters/#{character.name.split(' ').join('-')}.html"
    .grid__cell.grid__cell--80
      section.section
        .character
          .character__image
            - image_or_missing(character.image) do |image|
              = image_tag image.file.width(500).format(:jpg).to_url
          h1.character__title= character.name
          ul.meta
            li.meta__item
              strong Actor:
              = character.actor_name
            li.meta__item
              strong Number of episodes:
              = character.episode
          .character__content
            = markdown character.description
