- content_for(:head) do
  = dato_meta_tags(episode)

.wrap
  .grid
    .grid__cell.grid__cell--20
      section.section.section--left
        h2.section__title Season episodes
        ul.nav
          - dato.episodes.select { |e| e.season == episode.season }.sort_by(&:episode_number).each do |episode|
            li.nav__item
              = link_to "/episodes/#{episode.title.split(' ').join('-')}.html" do
                = episode.title
                .nav__item__details
                  | Episode ##{episode.episode_number}
    .grid__cell.grid__cell--80
      section.section
        .character
          .character__image
            - image_or_missing(episode.image) do |image|
              = image_tag episode.image.file.width(500).to_url
          h1.character__title= episode.title
          ul.meta
            li.meta__item
              strong Season:
              = episode.season.name
            li.meta__item
              strong Episode Number:
              = episode.episode_number
            li.meta__item
              strong First aired:
              = I18n.l episode.first_aired
            li.meta__item
              strong Rating:
              = episode.rating
            .character__content
              = markdown episode.description
