.wrap
  .grid
    .grid__cell.grid__cell--20
      section.section.section--left
        h2.section__title Seasons
        ul.nav
          - dato.seasons.sort_by(&:position).each do |season|
            li.nav__item
              = link_to season.name, "/seasons/#{season.name.split(' ').join('-')}.html"
    .grid__cell.grid__cell--80
      section.section
        h2.section__title Episodes
        .grid
          - items.each do |episode|
            .grid__cell.grid__cell--50
              = partial "partials/episode_preview", locals: { episode: episode }
        .pagination
          - if pager.previous_page_path
            = link_to pager.previous_page_path "Previous page", pager.previous_page_path, class: "pagination__prev"
          - if pager.next_page_path
            = link_to "Next page", pager.next_page_path, class: "pagination__next"
