- content_for(:head) do
  = dato_meta_tags(season)
  
.wrap
  section.section
    .season
      .season__image
        = image_tag season.image.file.width(400).to_url
      .season__content
        h2.season__title= season.name
        = markdown season.overview
        hr/
        .grid
          - dato.episodes.select { |e| e.season == season }.sort_by(&:episode_number).each do |episode|
            .grid__cell.grid__cell--50
              = partial "partials/episode_preview", locals: { episode: episode }
