.wrap
  section.section
    h2.section__title Characters
    .grid.grid--center
      - dato.characters.sort_by(&:position).each do |character|
        .grid__cell.grid__cell--20
          = partial "partials/character_preview", locals: { character: character }
