- content_for(:head) do
  = dato_meta_tags(dato.homepage)

.wrap
  section.section
    h2.section__title About the serie
    = markdown dato.homepage.description

hr
.wrap
  section.section
    h2.section__title
      | Characters
    .grid.grid--center
      - dato.characters.sort_by(&:position)[0...10].each do |character|
        .grid__cell.grid__cell--20
          = partial "partials/character_preview", locals: { character: character }
    .section__title
      = link_to "View All", "/characters.html", class: "button"
