.wrap
  section.section
    h2.section__title Seasons
    .grid
      - dato.seasons.sort_by(&:position).each do |season|
        .grid__cell.grid__cell--33
          = link_to "/seasons/#{season.name.split(' ').join('-')}.html", class: "season-preview" do
            .season-preview__meta style=("background-image: url('#{season.image.file.width(5).to_url}')")
              .season-preview__image
                = image_tag season.image.file.height(300).to_url
              h6.season-preview__title= season.name
              .season-preview__description
                = HTML_Truncator.truncate(season.overview, 30)
