.dialog {
  position: relative;

  &:before {
    position: fixed;
    top: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: rgba(black, 0.8);
  }
}

.dialog__frame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 540px;
  max-height: 90%;
  z-index: 1002;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  overflow-y: auto;
}

.dialog__body {
  padding: 36px;
}

.dialog__close {
  position: absolute;
  padding: 12px;
  top: 0;
  right: 0;
}

.dialog input {
  width: 100%;
  margin-bottom: 12px;
  margin-top: 12px;
}
