.main-navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.main-navigation__item {
  display: inline-block;
  text-decoration: none;
  color: $base-body-color;
  text-align: center;
  padding: 15px 5px;

  &:hover {
    color: $primary-color;
  }
}

.main-navigation__item__auth {
  @extend .main-navigation__item__auth;
  border-left: 1px solid grey;
  padding-left: 12px;
  margin-left: 12px;
}

@media screen and (min-width: 650px) {
  .main-navigation__item {
    padding: 30px 20px;
    width: 150px;
    font-size: 20px;
  }
}
